* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.App {
  min-height: 100vh;
  width: 1010px;
  background-color: #fff;
  padding: 13px 36px 18px;
  font-family: 'Inter', sans-serif;
}

.card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: 280px;
  display: flex;
}

.card__imageWrapper {
  width: 180px;
  height: 100%;
}

.card__img {
  width: 180px;
  height: 100%;
}

.card__textWrapper {
  padding: 12px 9px 12px 20px;
}

.card__title {
  font-size: 20px;
  line-height: 28px;
}

.card__date {
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
  margin-top: 7px;
}

.card__description {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 7px;
}

.card__genres {
  list-style-type: none;
  margin-top: 7px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.search {
  margin-bottom: 32px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
